<?php

    // If you installed via composer, just use this code to requrie autoloader on the top of your projects.
    require 'vendor/autoload.php';
    
    $ssl = true;
    $external_key = "KEY_FOR_ALL_CALLER_OPERATIONS";
    $mail_config = [
            "smtpserver" => 'SMTP_SERVER_ADDRESS',
            "mailaddress" =>"MAIL_ADDRESS",
            "username" => 'SMTP_LOGIN',
            "password" => 'SMTP_PASSWORD',
            "port" => 25,
            "secure" => 'tls'
        ];
    $activate_mail = true;
    
    // Initialize
    $database = new medoo([
        'database_type' => 'mysql',
        'database_name' => 'DATABASE_NAME',
        'server' => 'SERVER_ADDRESS',
        'username' => 'USERNAME',
        'password' => 'PASSWORD',
        'charset' => 'utf8'
    ]);

?>
