table td.shrink {
    white-space:nowrap
}
table td.expand {
    width: 99%
}
.rounded {
  border-radius: 10px;
  background: #000; 
}
.rounded_row {
   border-radius: 10px; 
   background: #fff;
}

.info_grid_text{
    border-radius: 5px; 
    background: #fff;
    margin-bottom:2px;
}
.info_grid{
    border: 1px solid  #337ab7;
    background: #337ab7;
    color: #fff;
    border-radius: 5px; 
    margin-bottom:2px;
    
}

a.danger {
  background-color: #e4b9b9;
}

a.success{
  background-color: #dff0d8;
}